html{
    background-color: pink;
    padding:10px;
}
body{
    background-color: #72F074;
    padding:10px;
    margin:0;
    font-size: 30px;
}
header{
    background-color: #bea0eb;
    margin: 10px;

}
nav{
    background-color: #bea0eb;
    margin: 10px;
    position:relative;
    left: 20px;
}
footer{
    background-color: #000000;

}