
@keyframes blink {
    0%{
        background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,94,251,1) 16%, rgba(93,80,192,1) 25%, rgba(79,187,121,1) 74%, rgba(154,51,72,1) 100%);
    }
    30%{
        background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,94,251,1) 16%, rgba(93,80,192,1) 35%, rgba(79,187,121,1) 74%, rgba(154,51,72,1) 100%);
    }
    50%{
        background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,94,251,1) 16%, rgba(93,80,192,1) 52%, rgba(79,187,121,1) 74%, rgba(154,51,72,1) 100%);
    }
    70%{
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,94,251,1) 16%, rgba(93,80,192,1) 52%, rgba(79,187,121,1) 92%, rgba(154,51,72,1) 100%);
    }
    100%{
        background: blue;
    }
}
div{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
    

}